/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
/* akronim-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Akronim';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/akronim-v23-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* allerta-stencil-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Allerta Stencil';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/allerta-stencil-v22-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* allison-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Allison';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/allison-v11-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

  /* lucid-san - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'lsansi';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/lucida-sans/LSANSI.TTF') format('tff'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/*.font-detail .font-header h1 {
    font-size: calc(1.4875rem + 2.85vw);
    font-weight: 500;
}*/

.ws_images img{
  max-height: 700px;
}

.sethrough-container {
    background-color: rgba(255, 255, 255, .15);
    margin-right: 20%;
}

.sethrough {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #ffffff; /*51656b*/
    -webkit-text-stroke-width: 1px;
    letter-spacing: 5px;
    font-size: calc(1.525rem + 3.3vw) !important;
    font-family: var(--bs-body-font-family) !important;
    line-height: 1.2;
}


/*@supports (backdrop-filter: blur(12px)) {
    .visually-hidden {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    h1 {
      backdrop-filter: blur(12px);
      background: rgba(white, 0.2);
      clip-path: url(#lockup-headline-mask-path);
    }
  }*/

/*.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7fbfdd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #617ab5
}


.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}*/
section-header h3 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  position: relative;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 700px;
  max-height: 700px;
  margin: 20px auto;
}