.u-block-fd1a-2 {
    position: absolute;
    bottom: 10px;
    margin-bottom: 0;
    width: auto;
    height: auto;
  }
  
  .u-block-fd1a-3 {
    position: absolute;
    left: 0;
    width: 45px;
    height: 45px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-block-fd1a-4 {
    position: absolute;
    width: 45px;
    height: 45px;
    left: auto;
    right: 0;
    margin-top: 0;
  }
  
   .u-section-1-1 {
    background-image: none;
  }
  
  .u-section-1-1 .u-sheet-1 {
    min-height: 734px;
  }
  
  .u-section-1-1 .u-layout-wrap-1 {
    pointer-events: auto;
    margin: 72px auto 0 0;
  }
  
  .u-section-1-1 .u-image-1 {
    min-height: 600px;
    pointer-events: auto;
    background-image: url("../img/Folajomi\ Court/1.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-1-1 .u-container-layout-1 {
    padding: 30px 60px;
  }
  
  .u-section-1-1 .u-layout-cell-2 {
    min-height: 600px;
    pointer-events: auto;
  }
  
  .u-section-1-1 .u-container-layout-2 {
    padding: 30px 60px;
  }
  
  .u-section-1-1 .u-text-1 {
    color: #78797d !important;
    font-weight: 700 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 2.55rem;
    /*margin: 0 auto;*/
  }
  
  .u-section-1-1 .u-text-2 {
    font-size: 2.45rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: none;
    margin: 20px 0 0;
  }
  
  .u-section-1-1 .u-text-3 {
    margin: 20px 0 0;
  }
  
  .u-section-1-1 .u-btn-1 {
    background-image: none;
    /*border-style: none none solid;*/
    /*text-transform: uppercase;*/
    /*margin: 20px auto 0;*/
    /*padding: 0;*/
  }
  
  @media (max-width: 1199px) {
    .u-section-1-1 .u-sheet-1 {
      min-height: 629px;
    }
  
    .u-section-1-1 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1-1 .u-image-1 {
      min-height: 495px;
    }
  
    .u-section-1-1 .u-layout-cell-2 {
      min-height: 495px;
    }
    .u-section-1-1 .u-text-1 {
      font-size: 3rem;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1-1 .u-sheet-1 {
      min-height: 667px;
    }
  
    .u-section-1-1 .u-image-1 {
      min-height: 379px;
    }
  
    .u-section-1-1 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-1-1 .u-layout-cell-2 {
      min-height: 533px;
    }
  
    .u-section-1-1 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-1-1 .u-text-2 {
      font-size: 3rem;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1-1 .u-sheet-1 {
      min-height: 994px;
    }
  
    .u-section-1-1 .u-image-1 {
      min-height: 569px;
    }
  
    .u-section-1-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1-1 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-1-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1-1 .u-sheet-1 {
      min-height: 179px;
    }
  
    .u-section-1-1 .u-image-1 {
      min-height: 358px;
    }
  }
  
   .u-section-1-2 {
    background-image: none;
  }
  
  .u-section-1-2 .u-sheet-1 {
    min-height: 734px;
  }
  
  .u-section-1-2 .u-layout-wrap-1 {
    pointer-events: auto;
    margin: 72px auto 0 0;
  }
  
  .u-section-1-2 .u-image-1 {
    min-height: 600px;
    pointer-events: auto;
    background-image: url("../img/Rogers\ Cove/v - 1.jpg");
    background-position: 50% 50%;
  }
  /* here */
  
  .u-section-1-2 .u-container-layout-1 {
    padding: 30px 60px;
  }
  
  .u-section-1-2 .u-layout-cell-2 {
    min-height: 600px;
    pointer-events: auto;
  }
  
  .u-section-1-2 .u-container-layout-2 {
    padding: 30px 60px;
  }
  
  .u-section-1-2 .u-text-1 {
    color: #78797d !important;
    font-weight: 700 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 2.55rem;
    /*margin: 0 auto;*/
  }
  
  .u-section-1-2 .u-text-2 {
    font-size: 2.45rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: none;
    margin: 20px 0 0;
  }
  
  .u-section-1-2 .u-text-3 {
    margin: 20px 0 0;
  }
  
  .u-section-1-2 .u-btn-1 {
    background-image: none;
    /*border-style: none none solid;*/
    /*text-transform: uppercase;*/
    /*margin: 20px auto 0;*/
    /*padding: 0;*/
  }

  
  @media (max-width: 1199px) {
    .u-section-1-2 .u-sheet-1 {
      min-height: 629px;
    }
  
    .u-section-1-2 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1-2 .u-image-1 {
      min-height: 495px;
    }
  
    .u-section-1-2 .u-layout-cell-2 {
      min-height: 495px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1-2 .u-sheet-1 {
      min-height: 667px;
    }
  
    .u-section-1-2 .u-image-1 {
      min-height: 379px;
    }
  
    .u-section-1-2 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-1-2 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-1-2 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1-2 .u-sheet-1 {
      min-height: 994px;
    }
  
    .u-section-1-2 .u-image-1 {
      min-height: 569px;
    }
  
    .u-section-1-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1-2 .u-text-2 {
      font-size: 3rem;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1-2 .u-sheet-1 {
      min-height: 179px;
    }
  
    .u-section-1-2 .u-image-1 {
      min-height: 358px;
    }
  
    .u-section-1-2 .u-layout-cell-2 {
      min-height: 361px;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 400px;
  }



  
  .u-section-1-3 .u-image-1 {
    min-height: 600px;
    pointer-events: auto;
    background-image: url("../img/AW1\ Court/5.jpg");
    background-position: 50% 50%;
  }
  .u-section-1-3 {
    background-image: none;
  }
  
  .u-section-1-3 .u-sheet-1 {
    min-height: 734px;
  }
  
  .u-section-1-3 .u-layout-wrap-1 {
    pointer-events: auto;
    margin: 72px auto 0 0;
  }
  
  .u-section-1-3 .u-container-layout-1 {
    padding: 30px 60px;
  }
  
  .u-section-1-3 .u-layout-cell-2 {
    min-height: 600px;
    pointer-events: auto;
  }
  
  .u-section-1-3 .u-container-layout-2 {
    padding: 30px 60px;
  }
  
  .u-section-1-3 .u-text-1 {
    color: #78797d !important;
    font-weight: 700 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 2.55rem;
    /*margin: 0 auto;*/
  }
  
  .u-section-1-3 .u-text-2 {
    font-size: 2.45rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: none;
    margin: 20px 0 0;
  }
  
  .u-section-1-3 .u-text-3 {
    margin: 20px 0 0;
  }
  
  .u-section-1-3 .u-btn-1 {
    background-image: none;
    /*border-style: none none solid;*/
    /*text-transform: uppercase;*/
    /*margin: 20px auto 0;*/
    /*padding: 0;*/
  }

  
  @media (max-width: 1199px) {
    .u-section-1-3 .u-sheet-1 {
      min-height: 629px;
    }
  
    .u-section-1-3 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1-3 .u-image-1 {
      min-height: 495px;
    }
  
    .u-section-1-3 .u-layout-cell-2 {
      min-height: 495px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1-3 .u-sheet-1 {
      min-height: 667px;
    }
  
    .u-section-1-3 .u-image-1 {
      min-height: 379px;
    }
  
    .u-section-1-3 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-1-3 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-1-3 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1-3 .u-sheet-1 {
      min-height: 994px;
    }
  
    .u-section-1-3 .u-image-1 {
      min-height: 569px;
    }
  
    .u-section-1-3 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1-3 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1-3 .u-text-2 {
      font-size: 3rem;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1-3 .u-sheet-1 {
      min-height: 179px;
    }
  
    .u-section-1-3 .u-image-1 {
      min-height: 358px;
    }
  
    .u-section-1-3 .u-layout-cell-2 {
      min-height: 361px;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 400px;
  }





  
  .u-section-1-4 .u-image-1 {
    min-height: 600px;
    pointer-events: auto;
    background-image: url("../img/Avenue\ Court/1544650945765_12PSD.jpg");
    background-position: 50% 50%;
  }
  .u-section-1-4 {
    background-image: none;
  }
  
  .u-section-1-4 .u-sheet-1 {
    min-height: 734px;
  }
  
  .u-section-1-4 .u-layout-wrap-1 {
    pointer-events: auto;
    margin: 72px auto 0 0;
  }
  
  .u-section-1-4 .u-container-layout-1 {
    padding: 30px 60px;
  }
  
  .u-section-1-4 .u-layout-cell-2 {
    min-height: 600px;
    pointer-events: auto;
  }
  
  .u-section-1-4 .u-container-layout-2 {
    padding: 30px 60px;
  }
  
  .u-section-1-4 .u-text-1 {
    color: #78797d !important;
    font-weight: 700 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 2.55rem;
    /*margin: 0 auto;*/
  }
  
  .u-section-1-4 .u-text-2 {
    font-size: 2.45rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: none;
    margin: 20px 0 0;
  }
  
  .u-section-1-4 .u-text-3 {
    margin: 20px 0 0;
  }
  
  .u-section-1-4 .u-btn-1 {
    background-image: none;
    /*border-style: none none solid;*/
    /*text-transform: uppercase;*/
    /*margin: 20px auto 0;*/
    /*padding: 0;*/
  }

  
  @media (max-width: 1199px) {
    .u-section-1-4 .u-sheet-1 {
      min-height: 629px;
    }
  
    .u-section-1-4 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1-4 .u-image-1 {
      min-height: 495px;
    }
  
    .u-section-1-4 .u-layout-cell-2 {
      min-height: 495px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1-4 .u-sheet-1 {
      min-height: 667px;
    }
  
    .u-section-1-4 .u-image-1 {
      min-height: 379px;
    }
  
    .u-section-1-4 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-1-4 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-1-4 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1-4 .u-sheet-1 {
      min-height: 994px;
    }
  
    .u-section-1-4 .u-image-1 {
      min-height: 569px;
    }
  
    .u-section-1-4 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1-4 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1-4 .u-text-2 {
      font-size: 3rem;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1-4 .u-sheet-1 {
      min-height: 179px;
    }
  
    .u-section-1-4 .u-image-1 {
      min-height: 358px;
    }
  
    .u-section-1-4 .u-layout-cell-2 {
      min-height: 361px;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 400px;
  }